.dashboard-container {
  padding: 20px;
  font-family: sans-serif;
  background: #f4f6f9;
  min-height: 100vh;
}

/* Header */
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0b2e61b2;
  color: white;
  padding: 15px 20px;
  border-radius: 12px;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logout-btn {
  border: none;
  color: rgb(45, 44, 44);
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

/* Sync Button */
.sync-btn {
  background: #1f2e37;
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

/* Stats */
.stats {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.stat-card {
  background: white;
  flex: 1;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.stat-card p {
  font-size: 24px;
  font-weight: bold;
  color: #0b3677;
}

/* Charts */
.charts {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.chart-box {
  background: white;
  flex: 1;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select {
  padding: 6px 10px;
  border: none;
  outline: none;
  background-color: aliceblue;
  box-shadow: 0px 0px 100px -50px black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
option{
  border: none;
  outline: none;
  border-radius: 20px;
}
/* Remove native look */
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid #cbd5e1;
  background-color: #ffffff;
  color: #0b3677;
  font-weight: 600;
  cursor: pointer;

  /* Custom arrow */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='none' stroke='%230b3677' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 14px;

  padding-right: 38px; /* space for arrow */
}

/* Hover */
select:hover {
  border-color: #0b3677;
}

/* Focus */
select:focus {
  outline: none;
  border-color: #0b3677;
  box-shadow: 0 0 0 2px rgba(11, 54, 119, 0.2);
}
